@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn how to build ASP.NET Core Apps on Docker nd VSTS
    </p>
</div>
